/* ShoppingCartPage.css */

.shopping-cart {
    padding: 20px;
}

.cart-items {
    margin-bottom: 20px;
    /* Add space between cart items and summary */
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    /* Add space between cart items */
}

.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
}

.item-info {
    flex-grow: 1;
}

.item-info p {
    margin: 0;
}

.cart-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-item button:hover {
    background-color: #c82333;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.checkout-button:hover {
    background-color: #218838;
}